<!DOCTYPE html>
<html>
<head>
  <title>Opioid Webpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css">

  <link rel="stylesheet" type="text/css" href="/jquery-ui-theme/jquery-ui.min.css" />
  <script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
  <script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/tabs.js"></script>

</head>
<body  onload = "init()">

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <!-- <a href="/home"><h2 class="center" >Opioid Webpage</h2></a> -->

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Homepage</a>
    <!-- <a href="/drugname">Drug Name</a> -->
    <a href="/StateVsDeath">State vs Opioid Deaths</a>
    <a href="/StateVsPop">State vs Population</a>
    <a href="/heatmap">HeatMap</a>
    <a href="/feedback">Feedback</a>
    <a href="/aboutUs">About Us</a>
    <a href="/overdose">Overdoses</a>
    <a href="/dashboard">Dashboard</a>
    <!-- <a href="#">About Us</a> -->
  </div>
  
  <h1 class="ui-state-default">Team</h1>
  <div class="logo" style="margin-left: 40%" >
	<ul style="list-style-type: none;">
	<li><canvas id =  "canvas"
        height = "150"
        width  = "200" 
        >
    <p>Canvas not supported</p>
    <li style="padding-left:35px ; " ><img width="150px" height="50px" src="../style/logo.png"></li>
	</canvas></li>
	</ul>
  </div>

  <h1 class="ui-state-default">Team Members</h1>
  <div id="tabs" style="height: 500px;">
      <ul>
            <li><a href="/aboutUs/amogh">Amogh</a></li>
            <li><a href="/aboutUs/divya">Divya</a></li>
            <li><a href="/aboutUs/indira">Indira</a></li>
            <li><a href="/aboutUs/vijay">Vijay</a></li>
      </ul>
  </div>

</body>

<script type="text/javascript" src="/routes/nav.js"></script>

<script>
  function init(){
  	
  	draw();
  	setInterval(draw, 500);

    $("#tabs").tabs();
  }
  
	function draw(){
		//requestAnimationFrame(draw);
		var canvas= document.getElementById("canvas");
		var c= canvas.getContext('2d');
		 c.clearRect(0,0,canvas.width,canvas.height);
		//c.clearRect(0,0,280,200);
		 c.save();
		//c.translate(150,130);
		c.translate(canvas.width/2,canvas.height/2);
		
		var circleNumber =20;
		var radius=50;
		var size= 7;
		
		for(var i=1;i<=circleNumber;i++){
			c.fillStyle='hsl('+360*Math.random() + ',100%,60%)'; 
			c.beginPath();
			c.arc(0,radius,size,0,2*Math.PI,false);
			c.rotate(2*Math.PI/circleNumber);
			c.fill();
		}
		//c.translate(-150,-130);
		c.translate(-canvas.width/2,-canvas.height/2);
	
}	

</script>

</html>