<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>

   <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <!-- <a href="/home"><h2 class="center" >Opioid Webpage</h2></a> -->

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Homepage</a>
    <!-- <a href="/drugname">Drug Name</a> -->
    <a href="/StateVsDeath">State vs Opioid Deaths</a>
    <a href="/StateVsPop">State vs Population</a>
    <a href="/heatmap">HeatMap</a>
    <a href="/feedback">Feedback</a>
    <a href="/aboutUs">About Us</a>
    <a href="/overdose">Overdoses</a>
    <a href="/dashboard">Dashboard</a>
    <!-- <a href="#">About Us</a> -->
  </div>

<div class='tableauPlaceholder' id='viz1536887518738' style='position: relative'>
   <noscript><a href='#'><img alt='Sheet 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Op&#47;Opioids_1_0&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript>
   <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='Opioids_1_0&#47;Sheet1' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Op&#47;Opioids_1_0&#47;Sheet1&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='filter' value='publish=yes' />
   </object>
</div>
<script type='text/javascript'>                    
   var divElement = document.getElementById('viz1536887518738');                    
   var vizElement = divElement.getElementsByTagName('object')[0];                    
   vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
   var scriptElement = document.createElement('script');                    
   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
   vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>

<script type="text/javascript" src="/routes/nav.js"></script>

</body>
</html>
