<!DOCTYPE html>
<html>
<head>
	<title>Opioid Webpage</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/jquery-ui-theme/jquery-ui.min.css" />
	<script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
  	<script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="/js/accordion.js"></script>
  	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  	
  	<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
 	google.charts.setOnLoadCallback(drawVisualization);
 	
 	function drawVisualization() {
 	    var tableRow=<%- statevsdeath_rows %>;
 	 	var data = new google.visualization.DataTable();
 	 	data.addColumn('string', 'State');
 	   	data.addColumn('number', 'Rate');
 	   	tableRow.forEach(function(row) {
 	   		console.log(row[0],row[1]);
 	       	data.addRow([row[0], Number(row[1])]);
 	   	});

 	   	var options = {'title':'Heat Map of USA',
 	   				   'region': "US",
 	   				   'width' : 1000,
 	   				   'height': 500,
                       'backgroundColor':'#e6ffe6',
                       'resolution': "provinces",
                         // 'chartArea': {'width': '80%', 'height': '60%'},
                        'legend': {'position': 'bottom', 'alignment':'center'}
         };

		var geochart = new google.visualization.GeoChart(document.getElementById('visualization'));
  		// geochart.draw(data, {width:0, height: 500, region: "US", resolution: "provinces"});
  		geochart.draw(data, options);
 		
 		//handle click 
  		google.visualization.events.addListener(geochart, 'select',selectHandler );

		function selectHandler(e) {
		var selectedItem = geochart.getSelection()[0];
		   if (selectedItem) {
		     var state = data.getValue(selectedItem.row, 0);
		      { alert ('state selected'+state) };
	   		}
		}
	}

    </script>
</head>
<style>
		.button {
			background-color: #e7ffe8;
			border: none;
			color: black;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
</style>

<body>

	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	<a href="/home"><h2 "ui-state-default" >Drug Overdose</h2></a>
	
	<div>
		<p style="margin-left: 400px"> 
			Heat Map of the United States of America showing the alarming deaths due to drug overdose.
		</p>
		<div style="margin-left: 250px" id="visualization"  ></div>
	</div>

  	<div id="mySidenav" class="sidenav">
    	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    	<a href="/home">Homepage</a>
		<a href="/feedback">Feedback</a>
    	<a href="/aboutUs">About Us</a>
    	<a href="/dashboard">Dashboard</a>
  	</div>


	


<!-- <div id="accordion">
  <h3>U.S. Opiate Prescriptions</h3>
  <div>
    <p>
  	Accidental death by fatal drug overdose is a rising trend in the United States. What can you do to help?

	This dataset contains summaries of prescription records for 250 common opioid and non-opioid drugs written by 25,000 unique licensed medical professionals in 2014 in the United States for citizens covered under Class D Medicare as well as some metadata about the doctors themselves. This is a small subset of data that was sourced from cms.gov. The full dataset contains almost 24 million prescription instances in long format. I have cleaned and compiled this data here in a format with 1 row per prescriber and limited the approximately 1 million total unique prescribers down to 25,000 to keep it manageable. If you are interested in more data, you can get the script I used to assemble the dataset here and run it yourself. The main data is in prescriber-info.csv. There is also opioids.csv that contains the names of all opioid drugs included in the data and overdoses.csv that contains information on opioid related drug overdose fatalities.
  	</p>
  </div>
  <h3>Data characteristics</h3>
  <div >
	<ul>
		NPI – unique National Provider Identifier number
	</ul>
	<ul>
		Gender - (M/F)
	</ul>
	<ul>
		State - U.S. State by abbreviation
	</ul>
	<ul>
		Credentials - set of initials indicative of medical degree
	</ul>
	<ul>
		Specialty - description of type of medicinal practice
	</ul>
	<ul>
		A long list of drugs with numeric values indicating the total number of prescriptions written for the year by that individual
	</ul>
	<ul>
		Opioid.Prescriber - a boolean label indicating whether or not that individual prescribed opiate drugs more than 10 times in the year
	</ul>

  </div>
</div> -->


<!-- 
<div class="emptyspace">
	
</div>
 -->

</body>


<script>
	i = 0;

    function changeTheme() {
        i ++;
        var body_tag = document.getElementsByTagName("BODY")[0];
        var head_tag = document.getElementsByTagName("H2")[0];
        if (i % 2){
            body_tag.style.backgroundColor = "black";
            body_tag.style.color = "white";
            head_tag.style.color = "white";
        }
        else {
            body_tag.style.backgroundColor = "white";
            body_tag.style.color = "black";
            head_tag.style.color = "black";
        }
    }

	function init(){
	
draw();
	setInterval(draw, 500);
	}
	function draw(){
		//requestAnimationFrame(draw);
		var canvas= document.getElementById("canvas");
		var c= canvas.getContext('2d');
		 c.clearRect(0,0,canvas.width,canvas.height);
		//c.clearRect(0,0,280,200);
		 c.save();
		//c.translate(150,130);
		c.translate(canvas.width/2,canvas.height/2);
		
		var circleNumber =20;
		var radius=50;
		var size= 7;
		
		for(var i=1;i<=circleNumber;i++){
			c.fillStyle='hsl('+360*Math.random() + ',100%,60%)'; 
			c.beginPath();
			c.arc(0,radius,size,0,2*Math.PI,false);
			c.rotate(2*Math.PI/circleNumber);
			c.fill();
		}
		//c.translate(-150,-130);
		c.translate(-canvas.width/2,-canvas.height/2);
		
	}	

	var coll = document.getElementsByClassName("foldable");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
	    this.classList.toggle("active");
	    var content = this.nextElementSibling;
	    if (content.style.maxHeight){
	      content.style.maxHeight = null;
	    } else {
	      content.style.maxHeight = content.scrollHeight + "px";
	    } 
	  });
	}
	
		
</script>
<script type="text/javascript" src="/routes/nav.js"></script>
</html>